.DS_Store          # macOS Finder metadata files
Thumbs.db          # Windows thumbnail cache files
.idea/             # IntelliJ IDEA IDE configuration
.vscode/           # Visual Studio Code IDE configuration
*.tmp              # Temporary files
.env               # Environment configuration files
.env.*             # Environment configuration files with specific extensions
secrets.json       # JSON file containing sensitive data

logs/              # Log files
*.log              # Log files with specific extensions
*.cache            # Cache files

*.xml/
*.iml/
*.xml
*.idea/.
*.csv
*.pkl
*.toml
*.ini
