pandas
gensim==3.8.0
matplotlib
#==3.8.4
nltk
numpy
regex
requests
#old 1.2.2
#new 1.5.2
scikit-learn==1.2.2
#1.4.2
scipy==1.10.1
#1.13.0
#update one since ploty doesn'T work 1.31.1
#old-1.34.0
streamlit
wordcloud
xgboost
pandas
#pickle
#time
Mapping
joblib
s3fs
st-files-connection
toml
boto3
#gtts
plotly
